ul.list-mb-4 li:not(:last-child),
ol.list-mb-4 li:not(:last-child) {
    margin-bottom: 1rem;
}

ul.list-mb-2 li:not(:last-child),
ol.list-mb-2 li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.toc-item {
    margin-left: -6px;
    transition: margin-left .2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.toc-item:hover {
    margin-left: 0px;
}

.toc-item::before {
    content: '#';
    font-family: system-ui;
    opacity: 0;
    transition: opacity .2s linear;
}

.toc-item:hover::before {
    opacity: 1;
}